*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-color: var(--gris-claro);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

:root{
    /* Colores: */
     --celestito:#92B4EC;
     --gris-claro:#F8F9FA;
     --amarillo:#FFE69A;
     --dorado:#FFD24C;
     --white:#FFFFFF;
     --black:#000000;
     --statuscelestes:#7BBDED;
     --gris-adorno:#E4E4E4;

}

.main-principal{
    display: flex;
    flex-direction: column;
}


.container-img{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imgteclado{
    width: 52px;
    height: 48px;
    background-color: var(--celestito);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgteclado img{
    width: 36px;
    height: 39px;
}

 .navegador{
     width: 100%;
     height: 116px;
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .navegador-lista{
     width: 779px;
     height: 80px;
     display: flex; 
     justify-content: space-around;
     align-items: center;
 }

.navegador-lista a{
    color: var(--celestito);
    font-size: 6rem;
    font-family: 'Overlock', cursive;
}

.navegador-lista .adorno{
    font-size: 6rem;
    font-family: 'Overlock', cursive;
    color: var(--gris-adorno);
}

.container-sep{
    display: flex;
    justify-content: center;
}
.separador{
    width: 1500px;
    height: 1px;
    background-color: var(--gris-adorno);
}

.menu-container{
   width: 100%;
   height: 600px;
   /* background-color: skyblue; */
   display: flex;
   justify-content: space-around;
   align-items: center;
    
}

.menu-datos{
    width: 600px;
    height: 480px;
    margin-left: 162px;
    border-radius: 44px;
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-datos p:first-child{
    font-family: 'Overlock', cursive;
    font-size: 4.2rem;
    margin-right: 256px;
}

.menu-datos .menorq{
    color: var(--celestito);
    font-family: 'Overlock', cursive;
    font-size: 7.2rem;
}

.menu-datos .exclamacion{
    font-family: 'Overlock', cursive;
    font-size: 5.2rem;
}

.menu-subtitulo{
    font-family: 'Overlock', cursive;
    font-size: 5.4rem;
}

.menu-datos address{
    font-family: 'Overlock', cursive;
    font-size: 2.8rem;
    margin-top: 16px;
    margin-bottom: 32px;
}

.menu-datos img{
    width: 24px;
    height: 24px;
}

.parrafo-general{
    font-family: 'Overlock', cursive;
    font-size: 2.8rem;
    text-align: justify;
}

.menu-datos p:last-child{
    padding-left: 40px;
    padding-right: 40px;  
}

.menu-skills{
    width: 800px;
    height: 480px;
    margin-right: 162px;
    border-radius: 44px;
    background-color: var(--amarillo);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.subtitulo-soft{
    margin-top: 12px;
}

.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades{
    width: 700px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.habilidades img{
    width: 64px;
    height: 60px;
}

.skills-avanzado{
    background-color: white;
    width: 520px;
    height: 50px;
    border-radius: 11px;
}

.avanzado-compl{
    background-color: #7BBDED;
    width: 28%;
    height: 100%;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.avanzado-html{
    background-color: #7BBDED;
    width: 80%;
    height: 100%;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.avanzado-css{
    background-color: #7BBDED;
    width: 70%;
    height: 100%;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.avanzado-android{
    background-color: #7BBDED;
    width: 36%;
    height: 100%;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.porcentaje{
    font-family: 'Overlock', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    opacity: 75%;
}

footer{
    width: 100%;
    height: 148px;
    background-color:var(--dorado);
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rs-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.imagenteclado{
    width: 52px;
    height: 48px;
    background-color: var(--celestito);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenteclado img{
    width: 36px;
    height: 39px;
}

.rs-titulo p{
    font-size: 3rem;
    font-family: 'Overlock', cursive;
    margin-left: 20px;
    color: var(--white);
}

.rs-iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 22px;
}

.rs-iconos img{
    width: 46px;
    height: 48px;
    margin-left: 18px;
}



.politica{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.politica p{
    color: var(--white);
    font-size: 3rem;
    margin-right: 200px;
}


/* Estilos de la pagina Proyectos */

.contenedor-proyecto{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}

.contenedor-amarillo{
    width: 956px;
    height: 95%;
    background-color: var(--amarillo);
    margin: 0 84px;
    border-radius: 44px;
}

.contenedor-texto{
    width: 28%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.contenedor-texto p:first-child{
    font-family:'Overlock', cursive;
    font-size: 4.5rem;
    margin-bottom: 22px;
}

.contenedor-texto p:last-child{
    font-family: 'Overlock', cursive;
    font-size: 2.8rem;
}



/* Estilos de la pagina contacto */
.contenedor-info{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-contacto{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-contacto p:first-child{
    font-family: 'Overlock', cursive;
    font-weight: bold;
    font-size: 5rem;
    text-align: start;
}

.info-contacto p:last-child{
    font-family: 'Overlock', cursive;
    font-weight: 300;
    font-size: 3rem;
    text-align: justify;
}

.info-formulario{
    display: flex;
    flex-direction: column;
    margin-top: 38px;
}

.formalario-top{
}

.formalario-top label{
    font-size: 3rem;
    font-family: 'Overlock', cursive;
    opacity: 60%;
}
.formalario-top .form-top{
    width: 348px;
    height: 51px;
    border-radius: 44px;
}

.formalario-bottom{
    display: flex;
    flex-direction: column;
}

.formalario-bottom label{
    font-size: 3rem;
    font-family: 'Overlock', cursive;
    opacity: 60%;
}

.formalario-bottom .form-suj{
    width: 843px;
    height: 51px;
    border-radius: 44px;
}

.formalario-bottom .form-massege{
    width: 843px;
    height: 240px;
    border-radius: 44px;
}
